gooner0102workspace/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "gooner0102workspace"
		},
		"AzureSqlDatabaseSales_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabaseSales'"
		},
		"gooner0102workspace-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'gooner0102workspace-WorkspaceDefaultSqlServer'"
		},
		"AzureBlobStorageIngest_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://gooner0102.blob.core.windows.net"
		},
		"gooner0102workspace-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://gooner0102lake.dfs.core.windows.net"
		},
		"BatchSalesTriggerA_properties_pipeline_parameters_store": {
			"type": "string",
			"defaultValue": "store-a"
		},
		"BatchSalesTriggerA_properties_pipeline_parameters_windowStart": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"IngestSalesTriggerA_properties_pipeline_parameters_store": {
			"type": "string",
			"defaultValue": "store-a"
		},
		"IngestSalesTriggerA_properties_pipeline_parameters_windowStart": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/PipelineBlobXmlToAdlsParquet')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "CopyBlobXmlToAdlsParquet",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Check Xml Exsits",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*.xml",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none",
									"namespaces": true
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['order_date']"
										},
										"sink": {
											"name": "order_date",
											"type": "DateTimeOffset"
										}
									},
									{
										"source": {
											"path": "[['customer_code']"
										},
										"sink": {
											"name": "customer_code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['product_code']"
										},
										"sink": {
											"name": "product_code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['unit_price']"
										},
										"sink": {
											"name": "unit_price",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['quantity']"
										},
										"sink": {
											"name": "quantity",
											"type": "Int64"
										}
									}
								],
								"collectionReference": "$['dataset']['record']"
							}
						},
						"inputs": [
							{
								"referenceName": "DatasetBlobXmlSales",
								"type": "DatasetReference",
								"parameters": {
									"store": {
										"value": "@pipeline().parameters.store",
										"type": "Expression"
									},
									"folderPath": {
										"value": "@{formatDateTime(pipeline().parameters.windowStart,'yyyy')}/@{formatDateTime(pipeline().parameters.windowStart,'MM')}/@{formatDateTime(pipeline().parameters.windowStart,'dd')}",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DatasetAdlsParquetSales",
								"type": "DatasetReference",
								"parameters": {
									"store": {
										"value": "@pipeline().parameters.store",
										"type": "Expression"
									},
									"folderPath": "@{formatDateTime(pipeline().parameters.windowStart,'yyyy')}/@{formatDateTime(pipeline().parameters.windowStart,'MM')}/@{formatDateTime(pipeline().parameters.windowStart,'dd')}"
								}
							}
						]
					},
					{
						"name": "Check Xml Exsits",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DatasetBlobXmlSales",
								"type": "DatasetReference",
								"parameters": {
									"store": {
										"value": "@pipeline().parameters.store",
										"type": "Expression"
									},
									"folderPath": {
										"value": "@{formatDateTime(pipeline().parameters.windowStart,'yyyy')}/@{formatDateTime(pipeline().parameters.windowStart,'MM')}/@{formatDateTime(pipeline().parameters.windowStart,'dd')}",
										"type": "Expression"
									}
								}
							},
							"timeout": "0.00:00:10",
							"sleep": 10,
							"childItems": true
						}
					},
					{
						"name": "No Files Available",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Check Xml Exsits",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"parameters": {
					"store": {
						"type": "string"
					},
					"windowStart": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/DatasetBlobXmlSales')]",
				"[concat(variables('workspaceId'), '/datasets/DatasetAdlsParquetSales')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/PipelineParquetToSqlPool')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "DataflowParquetToSqlPool",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Check Parquet Exists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DataflowParquetToSqlPool",
								"type": "DataFlowReference",
								"parameters": {
									"store": {
										"value": "'@{pipeline().parameters.store}'",
										"type": "Expression"
									},
									"folderPath": {
										"value": "'@{formatDateTime(pipeline().parameters.windowStart,'yyyy')}/@{formatDateTime(pipeline().parameters.windowStart,'MM')}/@{formatDateTime(pipeline().parameters.windowStart,'dd')}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"SourceParquetSales": {},
									"SourceSqlCustomer": {},
									"SinkSqlPoolSales": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "gooner0102workspace-WorkspaceDefaultStorage",
									"type": "LinkedServiceReference"
								},
								"folderPath": "staging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Check Parquet Exists",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DatasetAdlsParquetSales",
								"type": "DatasetReference",
								"parameters": {
									"store": {
										"value": "@pipeline().parameters.store",
										"type": "Expression"
									},
									"folderPath": {
										"value": "@{formatDateTime(pipeline().parameters.windowStart,'yyyy')}/@{formatDateTime(pipeline().parameters.windowStart,'MM')}/@{formatDateTime(pipeline().parameters.windowStart,'dd')}",
										"type": "Expression"
									}
								}
							},
							"timeout": "0.00:00:10",
							"sleep": 10,
							"childItems": true
						}
					},
					{
						"name": "No Files Available",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Check Parquet Exists",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"parameters": {
					"store": {
						"type": "string"
					},
					"windowStart": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/dataflows/DataflowParquetToSqlPool')]",
				"[concat(variables('workspaceId'), '/linkedServices/gooner0102workspace-WorkspaceDefaultStorage')]",
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]",
				"[concat(variables('workspaceId'), '/datasets/DatasetAdlsParquetSales')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/PipelineSqlPoolToSqlDb')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "DataflowSqlPoolToSqlDb",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DataflowSqlPoolToSqlDb",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceSqlPoolSales": {},
									"SinkSqlSalesByCustomer": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/dataflows/DataflowSqlPoolToSqlDb')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DatasetAdlsParquetSales')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gooner0102workspace-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"store": {
						"type": "string"
					},
					"folderPath": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@{dataset().store}/@{dataset().folderPath}",
							"type": "Expression"
						},
						"fileSystem": "sales"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/gooner0102workspace-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DatasetAdlsParquetSalesNoneParameter')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gooner0102workspace-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "sales"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "id",
						"type": "INT64"
					},
					{
						"name": "order_date",
						"type": "INT96"
					},
					{
						"name": "customer_code",
						"type": "UTF8"
					},
					{
						"name": "product_code",
						"type": "UTF8"
					},
					{
						"name": "unit_price",
						"type": "DECIMAL",
						"precision": 38,
						"scale": 18
					},
					{
						"name": "quantity",
						"type": "INT64"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/gooner0102workspace-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DatasetBlobXmlSales')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageIngest",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"store": {
						"type": "string"
					},
					"folderPath": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Xml",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "sales/@{dataset().folderPath}",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().store",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureBlobStorageIngest')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DatasetDedicatedSqlPoolSales')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gooner0102workspace-WorkspaceDefaultSqlServer",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "SQLDW1"
					}
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Sales"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/gooner0102workspace-WorkspaceDefaultSqlServer')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DatasetSqlCustomer')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseSales",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Store",
						"type": "nvarchar"
					},
					{
						"name": "CustomerCode",
						"type": "nvarchar"
					},
					{
						"name": "StandardCode",
						"type": "nvarchar"
					},
					{
						"name": "StandardName",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CustomerView"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureSqlDatabaseSales')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DatasetSqlSalesByCustomer')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseSales",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "SalesByCustomer"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureSqlDatabaseSales')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureBlobStorageIngest')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('AzureBlobStorageIngest_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureSqlDatabaseSales')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabaseSales_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/gooner0102workspace-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('gooner0102workspace-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/gooner0102workspace-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('gooner0102workspace-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/BatchSalesTriggerA')]",
			"type": "Microsoft.Synapse/workspaces/triggers",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "PipelineParquetToSqlPool",
						"type": "PipelineReference"
					},
					"parameters": {
						"store": "[parameters('BatchSalesTriggerA_properties_pipeline_parameters_store')]",
						"windowStart": "[parameters('BatchSalesTriggerA_properties_pipeline_parameters_windowStart')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2021-01-01T15:30:00.000Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/PipelineParquetToSqlPool')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/IngestSalesTriggerA')]",
			"type": "Microsoft.Synapse/workspaces/triggers",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "PipelineBlobXmlToAdlsParquet",
						"type": "PipelineReference"
					},
					"parameters": {
						"store": "[parameters('IngestSalesTriggerA_properties_pipeline_parameters_store')]",
						"windowStart": "[parameters('IngestSalesTriggerA_properties_pipeline_parameters_windowStart')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2021-01-01T15:00:00.000Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/PipelineBlobXmlToAdlsParquet')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ServingSalesTrigger')]",
			"type": "Microsoft.Synapse/workspaces/triggers",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "PipelineSqlPoolToSqlDb",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2021-01-01T16:00:00.000Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/PipelineSqlPoolToSqlDb')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DataflowParquetToSqlPool')]",
			"type": "Microsoft.Synapse/workspaces/dataflows",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DatasetAdlsParquetSalesNoneParameter",
								"type": "DatasetReference"
							},
							"name": "SourceParquetSales"
						},
						{
							"dataset": {
								"referenceName": "DatasetSqlCustomer",
								"type": "DatasetReference"
							},
							"name": "SourceSqlCustomer"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DatasetDedicatedSqlPoolSales",
								"type": "DatasetReference"
							},
							"name": "SinkSqlPoolSales"
						}
					],
					"transformations": [
						{
							"name": "Join"
						},
						{
							"name": "Select"
						},
						{
							"name": "FilterStore"
						}
					],
					"script": "parameters{\n\tstore as string,\n\tfolderPath as string\n}\nsource(output(\n\t\tid as long,\n\t\torder_date as timestamp,\n\t\tcustomer_code as string,\n\t\tproduct_code as string,\n\t\tunit_price as decimal(38,18),\n\t\tquantity as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'parquet',\n\twildcardPaths:[($store + \"/\" + $folderPath)]) ~> SourceParquetSales\nsource(output(\n\t\tStore as string,\n\t\tCustomerCode as string,\n\t\tStandardCode as string,\n\t\tStandardName as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> SourceSqlCustomer\nSourceParquetSales, FilterStore join(customer_code == CustomerCode,\n\tjoinType:'left',\n\tbroadcast: 'auto')~> Join\nJoin select(mapColumn(\n\t\tID = id,\n\t\tOrderDate = order_date,\n\t\tCustomerCode = customer_code,\n\t\tProductCode = product_code,\n\t\tUnitPrice = unit_price,\n\t\tQuantity = quantity,\n\t\tStandardCustomerCode = StandardCode,\n\t\tStandardCustomerName = StandardName\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select\nSourceSqlCustomer filter(Store == $store) ~> FilterStore\nSelect sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tallowCopyCommand: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SinkSqlPoolSales"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/DatasetAdlsParquetSalesNoneParameter')]",
				"[concat(variables('workspaceId'), '/datasets/DatasetSqlCustomer')]",
				"[concat(variables('workspaceId'), '/datasets/DatasetDedicatedSqlPoolSales')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DataflowSqlPoolToSqlDb')]",
			"type": "Microsoft.Synapse/workspaces/dataflows",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DatasetDedicatedSqlPoolSales",
								"type": "DatasetReference"
							},
							"name": "SourceSqlPoolSales"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DatasetSqlSalesByCustomer",
								"type": "DatasetReference"
							},
							"name": "SinkSqlSalesByCustomer"
						}
					],
					"transformations": [
						{
							"name": "Aggregate"
						}
					],
					"script": "source(output(\n\t\tID as long,\n\t\tOrderDate as timestamp,\n\t\tCustomerCode as string,\n\t\tProductCode as string,\n\t\tUnitPrice as decimal(38,18),\n\t\tQuantity as long,\n\t\tStandardCustomerCode as string,\n\t\tStandardCustomerName as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tquery: 'SELECT * FROM Sales',\n\tformat: 'query',\n\tstaged: false) ~> SourceSqlPoolSales\nSourceSqlPoolSales aggregate(groupBy(StandardCustomerCode),\n\tUnitPriceAvg = avg(UnitPrice),\n\t\tQuantitySum = sum(Quantity)) ~> Aggregate\nAggregate sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\ttruncate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> SinkSqlSalesByCustomer"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/DatasetDedicatedSqlPoolSales')]",
				"[concat(variables('workspaceId'), '/datasets/DatasetSqlSalesByCustomer')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SQLDW1')]",
			"type": "Microsoft.Synapse/workspaces/sqlPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/CreateCustomerTable')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "DROP TABLE [dbo].[CustomerMapping]\nDROP TABLE [dbo].[Customer]\nDROP TABLE [dbo].[StandardCustomer]\n\nCREATE TABLE [dbo].[Customer](\n    [ID] [int] IDENTITY(1,1) NOT NULL,\n    [Store] [nvarchar](100) NULL,\n    [CustomerCode] [nvarchar](100) NULL,\n    [CustomerName] [nvarchar](100) NULL\n) ON [PRIMARY]\nALTER TABLE [dbo].[Customer] \n\tADD CONSTRAINT PK_Customer_ID PRIMARY KEY ([ID])\nALTER TABLE [dbo].[Customer] \n\tADD CONSTRAINT UK_Customer_CustomerCode UNIQUE ([Store], [CustomerCode])\n\nCREATE TABLE [dbo].[StandardCustomer](\n    [ID] [int] IDENTITY(1,1) NOT NULL,\n    [StandardCode] [nvarchar](100) NULL,\n    [StandardName] [nvarchar](100) NULL\n) ON [PRIMARY]\nALTER TABLE [dbo].[StandardCustomer] \n\tADD CONSTRAINT PK_StandardCustomer_ID PRIMARY KEY ([ID])\nALTER TABLE [dbo].[StandardCustomer] \n\tADD CONSTRAINT UK_StandardCustomer_StandardCode UNIQUE ([StandardCode])\n\nCREATE TABLE [dbo].[CustomerMapping](\n    [ID] [int] IDENTITY(1,1) NOT NULL,\n    [CustomerID] [int],\n    [StandardID] [int]\n) ON [PRIMARY]\nALTER TABLE [dbo].[CustomerMapping] \n\tADD CONSTRAINT PK_CustomerMapping_ID PRIMARY KEY ([ID])\nALTER TABLE [dbo].[CustomerMapping]\n\tADD CONSTRAINT FK_CustomerMapping_CustomerID FOREIGN KEY ([CustomerID])\n\t\tREFERENCES [dbo].[Customer] ([ID]) \n\t\tON DELETE CASCADE\nALTER TABLE [dbo].[CustomerMapping]\n\tADD CONSTRAINT FK_CustomerMapping_StandardID FOREIGN KEY ([StandardID])\n\t\tREFERENCES [dbo].[StandardCustomer] ([ID]) \n\t\tON DELETE CASCADE\n\n\nINSERT [dbo].[Customer] ([Store], [CustomerCode], [CustomerName]) VALUES (N'store-a', N'A0001', N'CustomerA')\nINSERT [dbo].[Customer] ([Store], [CustomerCode], [CustomerName]) VALUES (N'store-a', N'A0002', N'CustomerB')\nINSERT [dbo].[Customer] ([Store], [CustomerCode], [CustomerName]) VALUES (N'store-a', N'A0003', N'CustomerC')\nINSERT [dbo].[Customer] ([Store], [CustomerCode], [CustomerName]) VALUES (N'store-b', N'B0001', N'CustomerA')\nINSERT [dbo].[Customer] ([Store], [CustomerCode], [CustomerName]) VALUES (N'store-b', N'B0002', N'CustomerB')\nINSERT [dbo].[Customer] ([Store], [CustomerCode], [CustomerName]) VALUES (N'store-b', N'B0003', N'CustomerC')\n\n\nINSERT [dbo].[StandardCustomer] ([StandardCode], [StandardName]) VALUES (N'S0001', N'顧客A')\nINSERT [dbo].[StandardCustomer] ([StandardCode], [StandardName]) VALUES (N'S0002', N'顧客B')\nINSERT [dbo].[StandardCustomer] ([StandardCode], [StandardName]) VALUES (N'S0003', N'顧客C')\n\nINSERT [dbo].[CustomerMapping] ([CustomerID], [StandardID]) VALUES (1, 1)\nINSERT [dbo].[CustomerMapping] ([CustomerID], [StandardID]) VALUES (2, 2)\nINSERT [dbo].[CustomerMapping] ([CustomerID], [StandardID]) VALUES (3, 3)\nINSERT [dbo].[CustomerMapping] ([CustomerID], [StandardID]) VALUES (4, 1)\nINSERT [dbo].[CustomerMapping] ([CustomerID], [StandardID]) VALUES (5, 2)\nINSERT [dbo].[CustomerMapping] ([CustomerID], [StandardID]) VALUES (6, 3)\n\nCREATE VIEW [dbo].[CustomerView]\nAS   \nSELECT\nc.[Store],\nc.[CustomerCode],\nsc.[StandardCode],\nsc.[StandardName]\nFROM [dbo].[Customer] AS c\nLEFT OUTER JOIN [dbo].[CustomerMapping] AS cm ON c.[ID] = cm.[CustomerID]\nLEFT OUTER JOIN [dbo].[StandardCustomer] AS sc ON cm.[StandardID] = sc.[ID]\n\nSELECT * FROM [dbo].[Customer]\nSELECT * FROM [dbo].[StandardCustomer]\nSELECT * FROM [dbo].[CustomerMapping]\n\nSELECT * FROM [dbo].[CustomerView]\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"name": "master",
						"type": "SqlOnDemand"
					}
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		}
	]
}